# ignore lists for git
#
#
# Figure & outputs
*.png
*.pdf
./*.root
*.log

# .swp files
.*.swp
# Directories storing slurm output
out-slurm/*

# Local backup directories
backup/

# Raw output histograms
/out-data/*/*.root

# Tree file lists
lists/*

# Object files
obj/*

#Plots
plots/

#Local test files
int_test.sh
test_files/

# Archive files
*_archive
*_archive/

